Repository Im-Rises/ObelixDrawingAssembly, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, github-actions, readme, source

.github/labeler.yml:

repo:
- '*'

github-actions:
- '.github/**/*.yml'

readme:
- 'README.md'

source:
- '*.asm'

wip
  .github/workflows/asm.yml
  .github/workflows/flawfinder.yml
  README.md
Labels: repo, github-actions, readme

Added obelix
  .clang-format
  .clang-tidy
  Makefile
  app
  app.c
  obelix.txt
Labels: repo

wip
  .clang-format
  .clang-tidy
  .github/workflows/asm-publish.yml
  Makefile
  README.md
  app
  app.asm
Labels: repo, github-actions, readme, source

Update README.md
  README.md
Labels: repo, readme

Some updates
  .github/workflows/asm-publish.yml
  Makefile
Labels: repo, github-actions

Added persmissions
  .github/workflows/asm-publish.yml
Labels: github-actions

wip
  .github/workflows/asm-publish.yml
Labels: github-actions

Added release creation
  .github/workflows/asm-publish.yml
Labels: github-actions

Update README.md
  README.md
Labels: repo, readme

Updated readme
  README.md
Labels: repo, readme

wip
  README.md
Labels: repo, readme

Added joke
  README.md
Labels: repo, readme

Added thanks
  README.md
Labels: repo, readme

Deleted C files
  .clang-format
  .clang-tidy
  app.c
Labels: repo

Update README.md
  README.md
Labels: repo, readme

wip
  Makefile
  README.md
Labels: repo, readme

wip
  .github/workflows/asm-publish.yml
Labels: github-actions

Updated images
  README.md
Labels: repo, readme
